services:
  jekyll:
    image: jekyll/jekyll:latest
    platform: linux/amd64  # ← これを追加
    command: jekyll serve --watch --force_polling
    ports:
      - "4000:4000"
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development
